/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.container {
  font-family: sans-serif;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.container h1 {
  font-size: 4rem;
}
.container h2 {
  font-size: 1.5rem;
}
.container header {
  margin: 0px 10px;
}
.container nav {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}
.container a {
  margin-left: 40px;
  text-decoration: none;
}
.container .top {
  width: 100%;
  height: 700px;
}
.container .top .banner {
  height: 100%;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(90, 90, 90, 0.2);
}
.container .top .banner .profilePic img {
  width: 450px;
  height: 300px;
  margin-top: 50px;
}
.container .middle {
  display: flex;
}
.container .middle article {
  width: 49%;
  margin: 10px;
}
.container .middle article p {
  padding: 20px;
}
.container .middle table {
  width: 90%;
  height: 200px;
  border: 1px solid;
  border-radius: 20px;
}
.container .middle table tr {
  border: 1px solid;
}
.container .middle table tr td {
  vertical-align: middle;
}
.container .bottom table {
  font-family: arial, sans-serif;
  width: 98%;
  margin: auto;
}
.container .bottom td {
  height: 40px;
  border-bottom: 1px solid #dfdfdf;
}
.container .bottom th {
  border-bottom: 1px solid #dfdfdf;
  text-align: left;
  font-weight: bold;
  padding: 8px;
}
.container .bottom tr:nth-child(even) {
  background-color: #ebebeb;
}
.container .copyright {
  text-align: center;
  height: 75px;
  background-color: gray;
  margin-top: 20px;
}
